*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navigation{
    background-color: #333;
    text-align: right;
    height: 60px;
    display: flex;
}
.navigation a {
  color: white;
  display: flex;
  align-items: center;
  padding: 14px 28px;
  text-decoration: none;
  font-size: 17px;
  height: 100%;
}

/* Change the color of links on hover */
a:hover {
  background-color: #ddd;
  color: black;
  font-weight: bold;
}

/* Add a color to the active/current link */
.navigation a.active {
  background-color: #04AA6D;
  color: white;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  position: fixed;
  top: 0px;
  width: 100%;
  gap: 50px;
  z-index: 10;
}

.navbarlogo img{
  height: 50px;
  padding-left: 32px;
}

.middle{
  width: 100%;
  display: flex;
  justify-content: center;
}

.middle input{
  width: 60%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: #F5F5F5;
    color: #333;
}


.header {
    text-align: center;
    padding: 80px 20px 60px 20px;
    background: #082567;
    color: #FFFFFF;
}

.header h1 {
    margin: 0;
    font-size: 40px;
    letter-spacing: 1px;
}

.header p {
    margin-top: 10px;
    font-size: 18px;
    opacity: 0.9;
}


.about-section {
    padding: 60px 20px;
}

.about-container {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
}


.about-text h2 {
    color: #082567;
    margin-bottom: 10px;
    font-size: 26px;
}

.about-text p {
    line-height: 1.7;
    margin-bottom: 20px;
}

.about-text ul li {
    margin-bottom: 10px;
    line-height: 1.6;
    font-size: 16px;
}


.about-image img {
    width: 100%;
    max-width: 380px;
    display: block;
    margin: auto;
}
