*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navigation{
    background-color: #333;
    text-align: right;
    height: 60px;
    display: flex;
}
.navigation a {
  color: white;
  display: flex;
  align-items: center;
  padding: 14px 28px;
  text-decoration: none;
  font-size: 17px;
  height: 100%;
}

/* Change the color of links on hover */
a:hover {
  background-color: #ddd;
  color: black;
  font-weight: bold;
}

/* Add a color to the active/current link */
.navigation a.active {
  background-color: #04AA6D;
  color: white;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  position: fixed;
  top: 0px;
  width: 100%;
  gap: 50px;
  z-index: 10;
}

.navbarlogo img{
  height: 50px;
  padding-left: 32px;
}

.middle{
  width: 100%;
  display: flex;
  justify-content: center;
}

.middle input{
  width: 60%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: #F5F5F5;
}

.contact-container {
    max-width: 600px;
    margin: 80px auto;
    background: #ffffff;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
}

.contact-container h1 {
    color: #082567;
    margin-bottom: 30px;
}

.contact-card p {
    font-size: 20px;
    margin: 12px 0;
    color: #333;
}

strong {
    color: #082567;
}
