*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navigation{
    background-color: #333;
    text-align: right;
    height: 60px;
    display: flex;
}
.navigation a {
  color: white;
  display: flex;
  align-items: center;
  padding: 14px 28px;
  text-decoration: none;
  font-size: 17px;
  height: 100%;
}

/* Change the color of links on hover */
a:hover {
  background-color: #ddd;
  color: black;
  font-weight: bold;
}

/* Add a color to the active/current link */
.navigation a.active {
  background-color: #04AA6D;
  color: white;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  position: fixed;
  top: 0px;
  width: 100%;
  gap: 50px;
  z-index: 10;
}

.navbarlogo img{
  height: 50px;
  padding-left: 32px;
}

.middle{
  width: 100%;
  display: flex;
  justify-content: center;
}

.middle input{
  width: 60%;
}

.heroine{
  position: relative;
}

.heroine img{
  width: 100vw;
}

.heroine h1{
  position: absolute;
  top: 150px;
  left: 100px;
  font-size: 100px;
}

.menu{
  display: flex;
  padding: 12px;
  background-color: #FAFAFA;
}
.menu a{
  color: #333;
  align-items: center;
  padding: 12px;
  text-decoration: none;
  font-weight: bolder;
}
.menu a.active-menu{
  text-decoration: underline;
}

.card-container{
  display: grid;
  row-gap: 20px;
  column-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
}
.card-container .card{
  border: 3px solid #ddd;
  border-radius: 12px;
  background-color: beige;
  height: 420px;
  width: 300px;
  overflow: hidden;
  justify-self: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.20);
}

.card-container .card img{
  width: 295px;
  height: 315px;
  border: 1px solid black;
}

footer{
  background-color: #082567;
  color: #E0E6ED;
  text-align: center;
  padding: 20px;
  font-size: large;
}
footer h1{
  font-size: 60px;
}
footer a{
  text-decoration: none;
  color: #E0E6ED;
}
.bada{
  display: flex;
  justify-content: center;
}
.sell{
  padding: 10px 30px;
}
ul{
  list-style-type: none;
}
button{
  width:280px;
  padding: 10px;
  margin-left: 7px;
  margin-top: 3px;
  background-color: greenyellow;
}